.container {
    display: flex;
    flex-direction: column;
}

.categoria {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    box-sizing: border-box;
}

.categoria h3.title {
    left: 0;
    position: relative;
    margin: 0;
    padding: 10px;
}

.categoria p.subtitle {
    margin: 0;
    padding: 10px;
    font-size: 14px;
}

.divider {
    margin: 0 10px 10px 10px;
    height: 2px;
    width: 100%;
    background-color: rgba(204, 204, 204, 0.274);
}

.container:not(.is-max-desktop):not(.is-max-widescreen),
.container {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.columns.is-multiline.is-5 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    gap: 5px; 
}

.column {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-basis: calc(20% - 5px);
}

.columns:active > .column:not(:active),
.columns:focus > .column:not(:focus) {
    filter: grayscale(1);
}